// Colors
$body-text-color: #333333;
$green: #2DBE31;
$dark-green: #37A164;
$red: #FC333F;
$stroke-color: rgba(55, 56, 60, 0.25);
$border-color: #eee;
$text-muted: #a4a59a;
$color-blue: #0187D0;
$primary-color: #FFCB08;


//New Colors
$landing-green: #00BA00;
$light-black: #6E6E6E;


// Buttons
$button-default-radius: 3px;

$button-height: 40px;

//Fonts
$regular-font: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";




